DATABASE_URL=postgres://bgcc:bgcc@localhost:5432/bgcc7
AUTH_SECRET=
AUTH_OSU_ID=
AUTH_OSU_SECRET=
AUTH_TRUST_HOST=true
PUBLIC_URL=http://localhost:3000
OSU_API_V1_KEY=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
